{% extends 'base.html.twig' %}

{% trans_default_domain "app" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}app.brand.label{% endtrans %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{% trans %}app.search.button.label{% endtrans %}">
            </div>
            <button type="submit" class="btn btn-default">{% trans %}app.search.button.label{% endtrans %}</button>
        </form>
        {{ knp_menu_render('AppBundle:Builder:rightNavbarMenu', { 'style': 'navbar-right' }) }}
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}

{% block title %}
    {% trans %}app.home.page_title{% endtrans %}
{% endblock %}

{% block content %}
    <div class="col-md-4 column">
        <h2>
            {% trans %}app.tasks.last_work_day{% endtrans %}
        </h2>
        <p style="word-wrap:break-word;">
            {% for task in tasks_pending %}
                <a class="list-group-item" href="#">{{ task.content }}  <b>{{ task.user.username }}</b></a>
            {% endfor %}
        </p>
        <p>
            {% if tasks_pending|length > 7 %}
                <a class="btn" href="#">{% trans %}app.tasks.show_all{% endtrans %}</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            {% trans %}app.tasks.today{% endtrans %}
        </h2>
        <p style="word-wrap:break-word;">
            {% for task in tasks %}
                <a href="#" class="list-group-item">{{ task.content }} <b>{{ task.user.username }}</b></a>
            {% endfor %}
        </p>

        <p>
            {{ render(controller('AppBundle:WorkItem:createTask')) }}
        </p>
        <p>
            {# <a href="{{ path('task_create') }}">{% trans %}app.task.create{% endtrans %}</a> #}
            {% if tasks|length > 7 %}
                <a class="btn" href="#">{% trans %}app.tasks.show_all{% endtrans %}</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            {% trans %}app.tasks.problems{% endtrans %}
        </h2>
        <p style="word-wrap:break-word;">
            <div class="list-group">
                {% for problem in problems %}
                    <li href="#" class="list-group-item">{{ problem.content }}  <b>{{ problem.user.username }}</b></li>
                {% endfor %}
            </div>
            {{ render(controller('AppBundle:WorkItem:createProblem')) }}
        </p>
        <p>
            {# <a href="{{ path('task_create', { 'type': 'problem' }) }}">{% trans %}app.task.create{% endtrans %}</a> #}
            {% if problems|length > 7 %}
                <a class="btn" href="#">{% trans %}app.tasks.show_all{% endtrans %}</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
